{
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": ["eslint:recommended"],
  "rules": {
    "quotes": ["error", "single"],
    "no-console": "off"
  },
  "globals": {
    "$": false,
    "jquery": false,
    "angular": false
    // other explicit global names to exclude
  }
}
